* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 234, 243);
}

header {
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}

#logo {
    vertical-align: middle;
}

section {
    height: 60px;
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
}

#addtask {
    height: 20px;
    width: 50px;
    display: inline-block;
}

#addsection {
    height: 20px;
    width: 50px;
    display: inline-block;
}

#buttons {
    height: 60px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#menù {
    height: 500px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

span {
    padding-left: 20px;
    background-color: white;
}

.title {
    font-weight: bold;
}