* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 234, 243);
}

header {
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}

#logo {
    vertical-align: middle;
}

section {
    height: 60px;
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
}

#addtask {
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 10%;
    padding: 5px;
}

#addsection {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10%;
    padding: 5px;
}

#buttons {
    height: 60px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#menù {
    height: 400px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

span {
    padding-left: 20px;
    background-color: white;
    margin: 10px;
}

.title {
    font-weight: bold;
}

div {
    display: inline-block;
    padding: 3px;
    border-radius: 10%;
}

.edit {
    background-color: dodgerblue;
}

#goals {
    background-color: purple;
}

#recru {
    background-color: green;
}

#mobile {
    background-color: orange;
}

#web {
    background-color: darkmagenta;
}

#sales {
    background-color: lightgreen;
}

