* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 235, 243);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder;
}

#logo {
    vertical-align: middle;
}

section {
    height: 60px;
    width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
}

#addtask {
    color: white;
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 10%;
    padding: 2px;
    margin-left: 45px;
    font-size: small;
}

#addsection {
    color: rgb(212, 212, 212);
    display: inline-block;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10%;
    padding: 2px;
    margin-left: -10px;
    font-size: small;
}

#buttons {
    height: 60px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#menù {
    margin-top: 2px;
    height: 400px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

span {
    line-height: 30px;
    padding-left: 20px;
    background-color: white;
    margin: 20px;
}

.title {
    font-weight: bold;
}

div {
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 18%;
    font-size: xx-small;
}

.edit {
    background-color: dodgerblue;
}

#goals {
    background-color: rgb(176, 45, 209);
}

#recru {
    background-color: green;
}

#mobile {
    background-color: orange;
}

#web {
    background-color: rgb(224, 133, 201);
}

#sales {
    background-color: rgb(182, 206, 75);
}

